<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <section>
    <div class="example-button-row">
      <button mat-raised-button [routerLink]="['/new-plan-rada']">Add new</button>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">All</mat-button-toggle>
        <mat-button-toggle value="italic">Mine</mat-button-toggle>
      </mat-button-toggle-group>
      
    </div>

    <div class="example-button-row">
      <button mat-stroked-button color="accent">Search</button>

      <mat-form-field appearance="legacy">
        <mat-label></mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>Enter search value</mat-hint>
      </mat-form-field>
    </div>

    <div class="example-button-row">
      <button mat-stroked-button color="accent">Filter</button>

      <mat-form-field appearance="legacy">
        <mat-label></mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>filter_b_and_w</mat-icon>
        <mat-hint>Enter filtering value</mat-hint>
      </mat-form-field>
    </div>

  </section>

  <mat-divider></mat-divider>
  <mat-divider></mat-divider><mat-divider></mat-divider><mat-divider></mat-divider>
  <mat-divider></mat-divider>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="StartDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> StartDate </th>
        <td mat-cell *matCellDef="let element"> {{element.StartDate}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="PhoneNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No. </th>
        <td mat-cell *matCellDef="let element"> {{element.PhoneNo}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


</body>
</html>
