<mat-label>Filter:</mat-label>  
<mat-form-field>  
  <input matInput (keyup)="applyFilter($event)" (change)="applyFilter($event)" placeholder="" #input style="border-bottom: 3px solid #d1dce7;">  
</mat-form-field>

<div class="example-container mat-elevation-z8" >
    <table mat-table [dataSource]="podaciTabele" matSort>            
      <ng-container matColumnDef="id" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:60px;min-width:60px;"> Id </th>
        <td mat-cell *matCellDef="let element" style="max-width:60px;min-width:60px;"> {{element.id}} </td>
      </ng-container>      
      <ng-container matColumnDef="startDate" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:100px;min-width:100px;padding-left:10px;"> Datum </th>
        <td mat-cell *matCellDef="let element" style="max-width:100px;min-width:100px;padding-left:10px;"> {{element.startDate}} </td>
      </ng-container>            

      <ng-container matColumnDef="phoneNum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:14px;"> Broj telefona </th>
        <td mat-cell *matCellDef="let element" style="padding-left:14px;"> {{element.phoneNum}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:14px;"> Status </th>
        <td mat-cell *matCellDef="let element" style="padding-left:14px;"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:14px;"> Adresa </th>
        <td mat-cell *matCellDef="let element" style="padding-left:14px;"> {{element.adresa}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>      
    </table>      
</div>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

  