<div class="container">    
    <form [formGroup]="resenjeForm" (ngSubmit)="onSubmit()">                
        <div class="row" >
            <div class="col-sm-6 form-group">
                <label for="uzrok">Uzrok</label>
                <select class="form-control" formControlName="uzrok" [(ngModel)]="trenutniUzrok" (click)=changeUzrok()>
                    <option *ngFor="let option of listaUzroka" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>  
        <div class="row" >
            <div class="col-sm-6 form-group">
                <label for="poduzrok">Poduzrok</label>
                <select class="form-control" formControlName="poduzrok">
                    <option *ngFor="let option of listaPoduzroka" [value]="option">{{option}}</option>
                </select>
                <div *ngIf="listaPoduzroka.length === 0">
                    Izaberite uzrok
                </div>
            </div>
        </div>  
        <div class="row" >
            <div class="col-sm-6 form-group">
                <label for="tipKonstrukcije">Tip konstrukcije</label>
                <select class="form-control" formControlName="tipKonstrukcije">
                    <option *ngFor="let option of listaTipKonstrukcije" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>  <div class="row" >
            <div class="col-sm-6 form-group">
                <label for="materijal">Materijal</label>
                <select class="form-control" formControlName="materijal">
                    <option *ngFor="let option of listaMaterijal" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>  

        <div class="row">
            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">Clear</button>
            </div>
            <div class="col-1">
                <button [disabled]="!resenjeForm.valid" class="btn btn-success" type="submit">Add</button>
            </div>
        </div>
    </form>
</div>