<nav>
    <a (click)=showBasic() style="margin-right: 5px;">Basic information</a>    
    <a (click)=showHistory() style="margin-right: 5px;">Changes history</a>
    <a (click)=showInstruction() style="margin-right: 5px;">Work instructions</a>    
    <a (click)=showDevices() style="margin-right: 5px;">Devices</a>        
</nav>
<br>
<div [hidden]="!(mainWindow === 'START')">
    <!--------------------------------------------------------------------ShowBasic------------------------------------------------------------------------->
    <div [hidden]="!(whatToShow === 'ShowBasic')">          
        <form class="example-form">
            <div class="example-container">
                <mat-form-field appearance="fill" class="example-30-width">
                    <mat-label>Type</mat-label>
                    <mat-select [(value)]="Type">
                    <mat-option value="planirani">Planirani rad</mat-option>
                    <mat-option value="neplanirani">Neplanirani rad</mat-option>
                    </mat-select>
                    <!--<mat-hint [hidden]="okInfoType === false" style="color: red;">Type is required.</mat-hint>-->
                </mat-form-field>

                <mat-form-field class="example-30-width">
                    <mat-label>Plan rada:</mat-label>
                    <input matInput disabled value="temp">
                  </mat-form-field>
            </div>
        </form>            
    </div>
    <!--------------------------------------------------------------------/ShowBasic------------------------------------------------------------------------->
</div>

<div [hidden]="!(mainWindow === 'END')">

</div>