<nav>
    <a (click)=showBasic() style="margin-right: 5px;">Basic information</a>    
    <a (click)=showHistory() style="margin-right: 5px;">Changes history</a>
    <a (click)=showInstruction() style="margin-right: 5px;">Work instructions</a>    
    <a (click)=showDevices() style="margin-right: 5px;">Devices</a>        
</nav>
<br>
<div [hidden]="!(mainWindow === 'START')">
    <!--------------------------------------------------------------------ShowBasic------------------------------------------------------------------------->
    <div [hidden]="!(whatToShow === 'ShowBasic')">          
        <form class="example-form">
            <div class="example-container">
                <mat-form-field class="example-30-width">
                    <mat-label>Napravio je:</mat-label>
                    <input matInput disabled value="{{Username}}">
                </mat-form-field> 

                <mat-form-field class="example-30-width">
                    <mat-label>Napravljen u:</mat-label>
                    <input matInput disabled [value]='CreatedOn'>
                </mat-form-field>

                <mat-form-field class="example-30-width">
                    <mat-label>Status</mat-label>
                    <input matInput disabled value="{{Status}}">
                </mat-form-field>       
            </div>            
            <div class="example-container">
                <mat-form-field class="example-30-width">
                    <mat-label>Plan rada:</mat-label>
                    <input matInput disabled value="{{PlanRada}}">
                </mat-form-field> 

                <mat-form-field class="example-30-width">
                    <mat-label>Ekipa:</mat-label>
                    <input matInput disabled value="{{Ekipa}}">
                </mat-form-field> 

                <mat-form-field appearance="fill" class="example-30-width">
                    <mat-label>Type</mat-label>
                    <mat-select [(value)]="Type">
                    <mat-option value="planirani">Planirani rad</mat-option>
                    <mat-option value="neplanirani">Neplanirani rad</mat-option>
                    </mat-select>                    
                </mat-form-field>  
            </div>
            <div class="example-container">
                <mat-form-field class="example-30-width">
                    <mat-label>Detalji</mat-label>
                    <input matInput [(ngModel)]="Detalji" name="detalji">                
                </mat-form-field>

                <mat-form-field class="example-30-width">
                    <mat-label>Beleske</mat-label>
                    <input matInput [(ngModel)]="Beleske" name="beleske">                
                </mat-form-field>
                
                <mat-form-field class="example-30-width">
                    <mat-label>TelBroj</mat-label>
                    <input matInput [(ngModel)]="TelBroj" name="telBroj">                
                </mat-form-field>
            </div>
        </form>            
    </div>
    <!--------------------------------------------------------------------/ShowBasic------------------------------------------------------------------------->
    <hr>
    <div>    
      <button mat-flat-button (click)="finish()" style="background-color: green;width:150px;font-size:26px; padding:10px;">FINISH</button>      
    </div>
</div>

<div [hidden]="!(mainWindow === 'END')">

</div>