<nav>
    <a (click)=showBasic() style="margin-right: 5px;">Basic information</a>    
    <a (click)=showHistory() style="margin-right: 5px;">Changes history</a>    
    <a (click)=showDevices() style="margin-right: 5px;">Devices</a>        
    <a (click)=showInstruction() style="margin-right: 5px;">Work instructions</a>    
</nav>
<br>
<div [hidden]="!(mainWindow === 'START')">
    <!--------------------------------------------------------------------ShowBasic------------------------------------------------------------------------->
    <div [hidden]="!(whatToShow === 'ShowBasic')">          
        <form class="example-form">
            <div class="example-container">
                <mat-form-field class="example-30-width">
                    <mat-label>Napravio je:</mat-label>
                    <input matInput disabled value="{{Username}}">
                </mat-form-field> 

                <mat-form-field class="example-30-width">
                    <mat-label>Napravljen u:</mat-label>
                    <input matInput disabled [value]='CreatedOn'>
                </mat-form-field>

                <mat-form-field class="example-30-width">
                    <mat-label>Status</mat-label>
                    <input matInput disabled value="{{Status}}">
                </mat-form-field>       
            </div>            
            <div class="example-container">
                <mat-form-field class="example-30-width">
                    <mat-label>Plan rada:</mat-label>
                    <input matInput disabled value="{{PlanRada}}">
                </mat-form-field> 

                <mat-form-field class="example-30-width">
                    <mat-label>Ekipa:</mat-label>
                    <input matInput disabled value="{{Ekipa}}">
                </mat-form-field> 

                <mat-form-field appearance="fill" class="example-30-width">
                    <mat-label>Type</mat-label>
                    <mat-select [(value)]="Type">
                    <mat-option value="planirani">Planirani rad</mat-option>
                    <mat-option value="neplanirani">Neplanirani rad</mat-option>
                    </mat-select>                    
                </mat-form-field>  
            </div>
            <div class="example-container">
                <mat-form-field class="example-30-width">
                    <mat-label>Detalji</mat-label>
                    <input matInput [(ngModel)]="Detalji" name="detalji">                
                </mat-form-field>

                <mat-form-field class="example-30-width">
                    <mat-label>Beleske</mat-label>
                    <input matInput [(ngModel)]="Beleske" name="beleske">                
                </mat-form-field>
                
                <mat-form-field class="example-30-width">
                    <mat-label>TelBroj</mat-label>
                    <input matInput [(ngModel)]="TelBroj" name="telBroj">                
                </mat-form-field>
            </div>
        </form>            
    </div>
    <!--------------------------------------------------------------------/ShowBasic------------------------------------------------------------------------->
    <div [hidden]="!(whatToShow === 'ShowHistory')"> 
      <input matInput disabled value="{{History}}">      
    </div>
    <!--------------------------------------------------------------------ShowDevices------------------------------------------------------------------------->
    <div [hidden]="!(whatToShow === 'ShowDevices')"> 
    
        <div class="example-button-row">
          <button [hidden]="confirmedOprema === true" mat-raised-button (click)="choseDeviceDialog()">Chose device</button>
        </div>
        <br>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceOprema" matSort style="width: 100%;">
            
            <ng-container matColumnDef="id">        
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>        
              <td mat-cell *matCellDef="let element">
                <button mat-button (click)="obrisiOpremu(element.id)" style="background-color: red;"> {{element.id}} </button>
              </td>      
            </ng-container>  
      
            <ng-container matColumnDef="name">        
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>        
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>  
          
            <ng-container matColumnDef="type">        
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>        
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>  
      
            <ng-container matColumnDef="adresa">        
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>        
              <td mat-cell *matCellDef="let element"> {{element.adresa}} </td>
            </ng-container>  
      
            <tr mat-header-row *matHeaderRowDef="displayedColumnsOpreme"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOpreme;"></tr>
          </table>        
        </div>
        <div>
          <br>
          <button [hidden]="confirmedOprema === true" mat-flat-button (click)="ConfirmDevices()" style="background-color: blue;">Confirm</button>
        </div>
        <div>
          <br>
          <p [hidden]="confirmedOprema === true" style="color: greenyellow;">IZABERI OPREMU VEZANU ZA DOKUMENT</p>
          <b [hidden]="confirmedOprema === false" style="color: yellow;">Confirm je izvrsen: onemogucene su izmene.</b>
        </div>
      </div>
    <!--------------------------------------------------------------------/ShowDevices------------------------------------------------------------------------->
    <!--------------------------------------------------------------------ShowChecklist------------------------------------------------------------------------->
    <div [hidden]="!(whatToShow === 'ShowChecklist')">
      <div class="example-container" style="padding-left: 55px;">
        <input type="checkbox" name="confirmed" (change)="check1()">
        <label style="padding-left:5px;color: rgb(177, 177, 177);">All work operations completed?</label>
      </div>
      <div style="padding-left: 55px;">
        <input type="checkbox" name="toMe" (change)="check2()">
        <label style="padding-left:5px;color: rgb(177, 177, 177);">All tags removed?</label>
      </div>
      <div style="padding-left: 55px;">
        <input type="checkbox" name="toMe" (change)="check3()">
        <label style="padding-left:5px;color: rgb(177, 177, 177);">Grounding removed?</label>
      </div>
      <div style="padding-left: 55px;">
        <input type="checkbox" name="toMe" (change)="check4()">
        <label style="padding-left:5px;color: rgb(177, 177, 177);">Ready for service?</label>
      </div>
    </div>
    <!--------------------------------------------------------------------/ShowChecklist------------------------------------------------------------------------->
    <hr>
    <div>    
      <button mat-flat-button (click)="finish()" style="background-color: green;width:150px;font-size:26px; padding:10px;">FINISH</button>      
    </div>
</div>

<div [hidden]="!(mainWindow === 'END')">

</div>