<nav>
    <a routerLink="/pregled_incidenata">New</a>    
    <a (click)=getAllIncidente()>All</a>        
    <a (click)=getMineIncidente()>Mine</a>    
    <a (click)=setFilter()>Filter</a>
</nav>

<div [hidden]="!prikaziFilter">    
    <hr/>
    <app-filter></app-filter>
</div>
<div [hidden]="incidentiZaPrikaz.length !== 0">
    <hr/>
    <h5 style="text-align: center;">Trenutno nema prijavljenih incidenata.</h5>
</div>
<div [hidden]="incidentiZaPrikaz.length === 0">
    <hr/>
    <app-tabela-incidenata [incidentiZaPrikaz]="incidenti"></app-tabela-incidenata>
</div>