@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.example-container {    
    overflow: auto;
  }
    
    .mat-header-cell, .mat-footer-cell, .mat-cell {
      min-width: 140px;  
      box-sizing: border-box;
    }
  
    .mat-table-sticky {
      background: #d1dce7;
      opacity: 1;
    }
  
    th.mat-column-position, td.mat-column-position {
      padding-left: 8px;
    }